/*-- scss:defaults --*/

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

// Colors
$hot-pink: #df19b7 ;
$light-green: #bac999 ;
$cream: #fceae4 ;

//base document Colors 
$navbar-bg: $cream;
$navbar-fg: $hot-pink;
$body-bg: $light-green;
$footer-bg: $cream;
$link-color: $light-green;

/*-- scss:rules --*/

h1, h2 {
  letter-spacing: 5px;
  color: $hot-pink;
  
}

.title {
  color: red;
}

.center-text {
  text-align: center;
  
}  